/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 50%;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100vh;
    /* Nasty hack to get rid of tiny, mysterious horizontal overflow scrolling: */
    width: 99vw;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #1a2b2b;
    /* TODO: Stick gradient ends to top and bottom of webpage dynamically */
    background: linear-gradient(0deg, rgba(192,255,200,0.5), rgba(137,179,250,1) 6%, 96%, rgba(192,255,200,0.5));
}
#autocomplete {
    border: solid 0.5rem #1a2b2b;
}
#photo-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5rem;
}
#photo {
    max-width: 40%;
    border: solid 0.5rem #1a2b2b;
    margin: 1rem 0;
}
#green {
    color: green;
}
#error {
    color: red;
    font-weight: 900
}