/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 75%;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Helvetica, sans-serif;
    background: skyblue;

}
#photo-gallery {
    display: flex;
}
#photo {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}